<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.poll.dao.mapper.ProductStatisticsMapper">
    <!--汇总-->
    <resultMap id="CollectMap" type="com.poll.entity.ext.ProductStatisticsEntity">
        <result column="prd_name" property="prdtName" jdbcType="VARCHAR"/>
        <result column="prd_ext_name" property="prdtExtName" jdbcType="VARCHAR"/>
        <result column="prd_unit" property="prdtUnit" jdbcType="VARCHAR"/>
        <result column="total" property="prdtTotal" jdbcType="INTEGER"/>
    </resultMap>

    <select id="listCollectByPollId" parameterType="java.lang.Long" resultMap="CollectMap">
        select pps.prd_name_pps                                 as prd_name,
               pps.prd_name_ext_pps                                prd_ext_name,
               pps.prd_unit_pps                                    prd_unit,
               (pps.purcs_num_pps * SUM(pss.sg_member_num_pss)) as total
        from poll_prd_snp pps
                 LEFT JOIN poll_sg_snp pss on pps.poll_id_pps = pss.poll_id_pss
        WHERE pps.poll_id_pps = #{pollId}
        GROUP BY pps.prd_code_pps
        order by pps.prd_order_field_pps asc
    </select>


</mapper>